<%= form_with(model: [:admin, @admin_event ,@admin_comment], local: true) do |form| %>
  <% if @admin_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_comment.errors.count, "error") %> prohibited this admin_comment from being saved:</h2>

      <ul>
        <% @admin_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
    <% if action_name == 'new' %>
      <div class="form-group">
        <%= form.label :user %>
        <%= form.collection_select(:user_id, Event.find(@admin_event.id).users, :id, :username, {}, { class: "form-control" }) %>
      </div>
    <% end %>
    <%= form.submit class:"btn btn-primary mt-3" %>
    <%= link_to "Back", admin_event_comments_path(@admin_event), class: ["btn", "btn-secondary mt-3"] %>

  </div>
<% end %>
