<%= form_with(model: [current_user, :mail_boxes, message], local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="form-group">
      <%= form.label :receiver_username %>
      <%= form.collection_select(:receiver_username, User.all.where("id != ? AND system_admin !=?", current_user.id, true).order(username: :asc), :username, :username, {}, { class: "form-control" }) %>
    </div>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :body %>
      <%= form.text_area :body, class: "form-control" %>
    </div>

    <%= form.submit class: ["btn", "btn-primary"]%>
    <%= link_to 'Back', user_mail_boxes_path(current_user), class:"btn btn-secondary" %>
  </div>
<% end %>
