<%= form_with(model: [@event_invitation, @user_vote], local: true) do |form| %>
  <% if @user_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_vote.errors.count, "error") %> prohibited this user_vote from being saved:</h2>

      <ul>
        <% @user_vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :event_date %>
    <%= form.collection_select(:event_date_id, Event.find(@event_invitation.event.id).event_dates, :id, :event_date, {}, { class: "form-control" }) %>
  </div>
  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
