<h1 class="mb-5">Events Administration<%= link_to 'New Event', new_admin_event_path, class:"btn btn-info btn-sm mx-3"  %></h1>


<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>N</th>
      <th>Name</th>
      <th>Action</th>
      <th>CRUD Comments</th>
    </tr>
    </thead>
    <tbody>
    <%@counter=1 %>
    <% @admin_events.each do |admin_event| %>
      <tr>
        <td><%= @counter %></td>
        <td style="width: 50%"><%= admin_event.title %></td>
        <td><%= link_to 'Show', admin_event, class:"btn btn-primary btn-sm" %><%= link_to 'Edit', edit_admin_event_path(admin_event),class:"btn btn-primary btn-sm mx-2" %><%= link_to 'Destroy', admin_event_path(admin_event), method: :delete, class:"btn btn-danger btn-sm" %></td>
        <td><%= link_to "Total comments: "+admin_event.comments.count.to_s, admin_event_comments_path(admin_event) %></td>
      </tr>
      <% @counter+=1 %>
    <% end %>
    </tbody>
  </table>
</div>

