
<h1>Comments</h1>
<div class="card">
  <ul class="list-group list-group-flush">
  <% if @comments != []%>
    <% @comments.zip(@users).each do |comment, user|%>
        <% @replies_count = Comment.all.where("commented_id = ?", comment).count %>
      <tr>
        <li class="list-group-item"><%= user.username %> says: <%= comment.content %>
        <%= link_to 'Reply', new_event_comment_path(@event, :reply => true, :comment_user_id => user, :commented_id => comment.id)%>
        <%= link_to 'View replies', event_comment_path(@event, comment)%>
          <span class="badge"><%= @replies_count %></span></li>

  <% end %>

  <% else %>
  <p>This event doesn't have any comments</p>
  <% end %>
  </ul>
</div>

<br>

  <%= link_to "Add Comments", new_event_comment_path(@event), class: ["btn", "btn-primary"]%>

<%= link_to 'Back',  event_path(@event), class: ["btn", "btn-secondary"]%>