<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <%if event.event_picture.attached? %>
      <%= link_to image_tag(event.event_picture, class: "card-img-top", width: "100%"), url_for(event) %>
    <%else %>
      <img src="https://748073e22e8db794416a-cc51ef6b37841580002827d4d94d19b6.ssl.cf3.rackcdn.com/not-found.png" class="card-img-top"  height="230px">

    <% end %>
    <div class="card-body">
      <p class="card-text font-italic text-center"><%= link_to event.title, event %></p>
      <div class="card mx-1 mb-3 bg-secondary" ></div>
      <p class="card-text text-muted mb-2"><%= "Creation: " + event.created_at.strftime("%d %h %Y at %I:%M%p") %></p>
      <p class="card-text text-muted"><%="Location: " + event.location %></p>
      <div class="d-flex justify-content-between align-items-center">
        <%if a == "my_events" %>
          <%= link_to 'View', event_path(event.id), class: 'btn btn-primary btn-sm'%>
            <a href="<%= edit_event_path(event.id) %>" class="btn btn-primary btn-sm">Edit</a>
            <a href="<%= new_event_event_invitation_path(event.id) %>" class="btn btn-primary btn-sm">Invite</a>
            <a href="<%= event_event_dates_path(event.id) %>" class="btn btn-primary btn-sm">Event Date</a>
            <%= link_to 'Destroy', event_path(event.id), class: 'btn btn-danger btn-sm', method: :delete %>
          <%elsif a == "upcoming_events"%>
            <a href="<%= event_path(event.id) %>" class="btn btn-primary">View</a>
            <% unless event.start_event_date_vote? %>
             <a href="<%= new_event_invitation_user_vote_path(current_user.event_invitations.find_by(event: event.id).id) %>" class="btn btn-primary">Go to Vote</a>
            <%end %>
          <%= link_to 'Report', event_invitation_path(current_user.event_invitations.find_by(event: event.id).id, :report => true), class: 'btn btn-danger', method: :put %>
          <%end %>
      </div>
    </div>
  </div>
</div>

