<div>


  <div class="row mb-2" >
    <div class="col-md-5">
      <div class="profile-pic text-center">
        <% if @event.event_picture.attached? %>
          <div data-toggle="modal" data-target="#exampleModal" style="width:400px; hight:auto">
            <%= image_tag(@event.event_picture, class:"rounded-circle", style:"width:100%") %>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="width:800px">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%=@event.title + ' Banner Picture' %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="width:800px; hight:auto">
                  <%= image_tag(@event.event_picture, style:"width:100%") %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <%else %>
          <img src="https://748073e22e8db794416a-cc51ef6b37841580002827d4d94d19b6.ssl.cf3.rackcdn.com/not-found.png"  width="380px" height="250px">
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="profile-info">
        <h3 class="display-3"><%= @event.title%></h3><br>
        <p class="font-italic"><%= "Location:  " + @event.location  %></p>
        <p class="font-italic"><%= "Description:  " + @event.description  %></p>
        <%= link_to "See Comments", event_comments_path(@event), class: ["btn", "btn-primary"] %>
      </div>
    </div>
  </div>
  <div class="card my-5 bg-secondary" >
  </div>

  <%if @event.images.attached? %>
    <div class="row">
      <%= render partial: 'slide_show', locals: { event: @event, title: "Images Uploaded"} %>
    </div>
    <div class="card mx-5 mb-3 bg-secondary" ></div>
  <%end %>

  <%if @event.videos.attached? %>
    <div class="container-fluid">
      <h3 class="text-center mb-3">Videos Uploaded</h3>
      <div class="row">
        <% (0...@event.videos.count).each do |video|  %>
        <div class="col-4">
          <video width="320" height="240" controls>
            <source src=<%= rails_blob_path(@event.videos[video]) %> type="video/mp4" />
          </video>
        </div>
        <% end %>
      </div>
      <div class="card mx-5 mb-3 bg-secondary" ></div>
    </div>
    <div class="card mx-5 mb-3 bg-secondary" ></div>
  <% end %>

  <div class="container-fluid">
    <h3 class="text-center mb-3 mt-5">Documentation Uploaded</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Number</th>
        <th>File</th>
      </tr>
      </thead>
      <tbody>
      <% (0...@event.documents.count).each do |doc|  %>
        <tr>
          <td><%= (doc+1).to_s %></td>
          <td><%= link_to "Document", rails_blob_path(@event.documents[doc]), target: :_blank %></td>
        </tr>
      <%end %>
      </tbody>
    </table>
  </div>
</div>
