<h1> Search Results</h1>

<%if (@users||@distinct_profile_pages) != []%>
  <h3>Users found</h3>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-none d-lg-block">
            <% if user.profile_page.picture.attached? %>
              <%= image_tag(user.profile_page.picture, style:"width:100%") %>
            <%else %>
              <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <%end %>
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h4 class="mb-0"><%= user.username %></h4><br>
            <div class="mb-1 text-muted">Name: <%= user.profile_page.name%></div>
            <div class="mb-1 text-muted">Location: <%= user.profile_page.location%></div>
          </div>
        </div>
      </div>
    <%end %>
    <% @distinct_profile_pages.each do |page| %>
      <div class="col-sm-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-none d-lg-block">
            <% if page.picture.attached? %>
              <%= image_tag(page.picture, style:"width:100%") %>
            <%else %>
              <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <%end %>
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h4 class="mb-0"><%= page.user.username %></h4><br>
            <div class="mb-1 text-muted">Name: <%= page.name%></div>
            <div class="mb-1 text-muted">Location: <%= page.location%></div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
<%end %>

<div class="card" >
</div>

<%if (@organizations) != []%>
  <h3>Organizations found</h3>
    <div class="row">
      <% @organizations.each do |organization| %>
        <div class="col-sm-4">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-none d-lg-block">
              <% if organization.organization_picture.attached? %>
                <%= image_tag(organization.organization_picture, style:"width:100%") %>
              <%else %>
                <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <%end %>
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h4 class="mb-0"><%= organization.name%></h4><br>
              <div class="mb-1 text-muted">Description: <%= organization.description%></div>
            </div>
          </div>
        </div>
      <%end %>
    </div>
<%end %>

<div class="card" >
</div>
<%if (@events&&@distinct_event_creators) != []%>
  <h3>Events found</h3>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-none d-lg-block">
            <% if event.event_picture.attached? %>
              <%= image_tag(event.event_picture, style:"width:100%") %>
            <%else %>
              <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <%end %>
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h4 class="mb-0"><%= event.title %></h4><br>
            <div class="mb-1 text-muted">Creator: <%= event.user_id%></div>
            <div class="mb-1 text-muted">Location: <%= event.location%></div>
          </div>
        </div>
      </div>
    <%end %>
    <% @distinct_event_creators.each do |creator| %>
      <div class="col-sm-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-none d-lg-block">
            <% if creator.event_picture.attached? %>
              <%= image_tag(creator.event_picture, style:"width:100%") %>
            <%else %>
              <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <%end %>
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h4 class="mb-0"><%= creator.title %></h4><br>
            <div class="mb-1 text-muted">Creator: <%= creator.user_id%></div>
            <div class="mb-1 text-muted">Location: <%= creator.location%></div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
<%end %>

<%if (@event_organization) != []%>
  <h3>Events by organization</h3>
    <div class="row">
      <% @event_organization.each do |organization| %>
        <div class="col-sm-4">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-none d-lg-block">
              <% if organization.event_picture.attached? %>
                <%= image_tag(organization.event_picture, style:"width:100%") %>
              <%else %>
                <svg class="bd-placeholder-img" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <%end %>
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h4 class="mb-0"><%= organization.title %></h4><br>
              <div class="mb-1 text-muted">Creator: <%= organization.organization_id%></div>
              <div class="mb-1 text-muted">Location: <%= organization.location%></div>
            </div>
          </div>
        </div>
      <%end %>
    </div>
<%end %>

