<div class="row mb-3">
  <div class="col-md-11">
    <h1>My Profile</h1>
  </div>
  <div class="col-md-3">
    <a href="<%= edit_user_profile_pages_path(current_user) %>" class="btn btn-primary">Edit</a>
    <a href="<%= edit_user_registration_path %>" class="btn btn-primary">Change Password</a>
  </div>

<br>
</div>
<div class="row mb-2" >
    <div class="col-md-5">
      <div class="profile-pic text-center">
        <% if @profile_page.picture.attached? %>
          <div data-toggle="modal" data-target="#exampleModal" style="width:400px; hight:auto">
          <%= image_tag(@profile_page.picture, class:"img-thumbnail", style:"width:100%") %>
          </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="width:800px">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%=@profile_page.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="width:800px; hight:auto">
                  <%= image_tag(@profile_page.picture, style:"width:100%") %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%else %>
          <img src="https://748073e22e8db794416a-cc51ef6b37841580002827d4d94d19b6.ssl.cf3.rackcdn.com/not-found.png"  width="380px" height="250px">
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="profile-info">
        <h3 class="display-3"><%= @profile_page.name + " " + @profile_page.last_name %></h3>
        <h3 class="display-5"><%= "@" + current_user.username %></h3><br><br>
        <% if @profile_page.location? %>
        <p class="font-italic"><%= "Location:  " + @profile_page.location %></p>
          <% else %>
          <p><%= link_to "Add Location", edit_user_profile_pages_path(current_user) %></p>
          <% end %>
        <% if @profile_page.bio? %>
        <p class="font-italic"><%= "Short bio: " + @profile_page.bio %></p>
          <%else %>
        <p><%= link_to "Add Short Bio", edit_user_profile_pages_path(current_user) %></p>
          <% end %>
      </div>
    </div>
</div>
<div class="card my-5 bg-secondary" >
</div>
<h4>My created events</h4>
<% if @events != []%>
  <div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'events/event_tile', locals: { event: event, a: "m"} %>
    <% end %>
  </div>
<%else %>
  <p>You have not create an event yet :(</p>
<% end %>
<br>
<h4>My Event Invitations</h4>
<% if @event_invitations != []%>
  <div class="row">
    <% @event_invitations.each do |event| %>
      <%= render partial: 'events/event_tile', locals: { event: event, a: "m"} %>
    <% end %>
  </div>
<%else %>
  <p>You have not create an event yet :(</p>
<% end %>


