
<h1>My Profile</h1>
<br>
<section class="panel">
  <div class="panel-body profile-wrapper">
    <div class="col-md-3">
      <div class="profile-pic text-center">
        <img src="https://bootdey.com/img/Content/user-453533-fdadfd.png" alt="" class="img-circle">
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-info">
        <h3><%= @profile_page.name + " " + @profile_page.last_name %></h3>
        <span class="text-muted"><%= @user.username %>, </span>
        <span class="text-muted">from <%= @profile_page.location %></span>
        <p>
          <%= @profile_page.bio %>
        </p>
        <div class="connect">
          <a href="<%= edit_user_profile_pages_path(@profile_page) %>" class="btn btn-success">Edit</a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

