<h1>Event Dates</h1>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Number of Votes</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @event_dates.zip(@users_votes).each do |event_date, vote|%>
      <tr>
        <td><%= event_date.event_date %></td>
        <td><%= vote %></td>
        <td><%= link_to 'Select', event_path(event_date.event.id, :start_event_date_vote => event_date.event_date), class: 'btn btn-secondary btn-sm', data: { confirm: "Use this date for the event?" }, method: :put %>
          <%= link_to 'Destroy', event_event_date_path(event_date.event.id, event_date.id), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Create', new_event_event_date_path(), class: 'btn btn-primary'%>
<%= link_to 'Back', user_events_path(@creator_user), class: 'btn btn-secondary'%>
