
<h1>MailBox<%= link_to 'New Message', new_user_mail_boxes_send_messages_path(@user.id), class:"btn btn-info btn-sm mx-3"  %></h1>
<br>
<h2>Messages Received</h2>
<section class="content inbox">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <ul class="mail_list list-group list-unstyled">

          <% @received_messages.each do |message| %>
            <li class="list-group-item">
              <div class="media">

                <div class="media-body">
                  <div class="media-heading">
                    <a class="m-r-10"><%= message.title %></a>
                    <span class="badge bg-blue">TO: <%= message.sender_username %></span>
                    <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><%= message.created_at.strftime("%d %h %Y at %I:%M%p") %></time><i class="zmdi zmdi-attachment-alt"></i> </small>
                  </div>
                  <p class="msg"><%= message.body %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<br>

<h2>Messages Send</h2>
<section class="content inbox">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <ul class="mail_list list-group list-unstyled">

          <% @send_messages.each do |message| %>
            <li class="list-group-item">
              <div class="media">
                <div class="media-body">
                  <div class="media-heading">
                    <a class="m-r-10"><%= message.title %></a>
                    <span class="badge bg-blue">FROM: <%= message.receiver_username %></span>
                    <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017"><%= message.created_at.strftime("%d %h %Y at %I:%M%p") %></time><i class="zmdi zmdi-attachment-alt"></i> </small>
                  </div>
                  <p class="msg"><%= message.body %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<br>

