<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<tbody>
<h3>My Created Organizations</h3>
<% if @organizations != []%>
  <table style="width: 70%">
    <thead>
    <tr>
      <th>N</th>
      <th>Name</th>
      <th>Edit</th>
    </tr>
    </thead>
      <% index = 1 %>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to organization.name, organization_path(organization.id) %></td>
          <td><%= link_to 'Edit', edit_organization_path(organization.id) %></td>

        </tr>
      <% index += 1 %>
      <% end %>
  </table>
<%else %>
  <p>You have not create an organization yet</p>
<% end %>

<br>

<h3>Organization where I am admin</h3>
<% if @organizations_admin != []%>

  <table style="width: 70%">
    <thead>
    <tr>
      <th>N</th>
      <th>Name</th>
      <th>Edit</th>
    </tr>
    </thead>
    <% index = 1 %>
      <% @organizations_admin.each do |organization| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to organization.name, organization_path(organization.id) %></td>
          <td><%= link_to 'Edit', edit_organization_path(organization.id) %></td>
        </tr>
      <% index += 1 %>
      <% end %>
  </table>
<% else %>
  <p>You are not admin of any organization :(</p>
<% end %>





</tbody>
