
<% if @organization.organization_picture.attached? %>
  <div  data-toggle="modal" data-target="#exampleModal" style="width:400px; hight:auto">
    <%= image_tag(@organization.organization_picture, style:"width:100%") %>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:800px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%=@organization.name + ' Banner Picture' %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="width:800px; hight:auto">
          <%= image_tag(@organization.organization_picture, style:"width:100%") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h3><%= @organization.name%></h3>
<p><%= @organization.description %></p>
<p><%= @organization.created_at %></p>
<h3>Event Images</h3>
<% (0...@organization.images.count).each do |image|  %>
  <%= image_tag(@organization.images[image], style: 'width:300px; height: auto') %>
<% end %>
<br>
<h3>Event Videos</h3>
<% (0...@organization.videos.count).each do |video|  %>
  <video width="320" height="240" controls>
    <source src=<%= rails_blob_path(@organization.videos[video]) %> type="video/webm" />
  </video>
<% end %>
<br>
<h3>Event Documents</h3>
<% (0...@organization.documents.count).each do |doc|  %>
  <%= link_to "Document " + (doc+1).to_s, rails_blob_path(@organization.documents[doc]), target: :_blank %>
<% end %>
<h3>Organization Public Events</h3>
<% if @events_organization != []%>
  <table style="width: 70%">
    <thead>
    <tr>
      <th>N</th>
      <th>Location</th>
      <th>Minimum guest</th>
    </tr>
    </thead>
    <% index = 1 %>
    <% @events_organization.each do |event| %>
      <tr>
        <td><%= index %></td>
        <td><%= event.location %></td>
        <td><%= event.minimum_guest %></td>
      </tr>
      <% index += 1 %>
    <% end %>
  </table>
<% else %>
  <p>This organization doesn't have any public event :(</p>
<% end %>

<br>
