<p id="notice"><%= notice %></p>

<img src="https://www.freeiconspng.com/uploads/no-image-icon-11.PNG" alt="HTML5 Icon">
<h3><%= @organization.name%></h3>
<p><%= @organization.description %></p>
<p><%= @organization.created_at %></p>
<% if @events_organization != []%>

  <table style="width: 70%">
    <thead>
    <tr>
      <th>N</th>
      <th>Location</th>
      <th>Minimum guest</th>
    </tr>
    </thead>
    <% index = 1 %>
    <% @events_organization.each do |event| %>
      <tr>
        <td><%= index %></td>
        <td><%= event.location %></td>
        <td><%= event.minimum_guest %></td>
      </tr>
      <% index += 1 %>
    <% end %>
  </table>
<% else %>
  <p>This organization doesn't have any event :(</p>
<% end %>
<br>
