<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectJmiturraldeMmoreno6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1><%= link_to 'Events App', root_path%></h1>
  </header>

  <nav>
    <ul id="navbar">
      <li><%= link_to 'Profile', user_profile_pages_path(1) %></li>
      <li><%= link_to 'MailBox', user_mail_boxes_path(1) %></li>
      <li><%= link_to 'Organizations', user_organizations_path(1) %></li>
      <li><%= link_to 'Organizations Invitation', user_organization_invitations_path(1) %></li>
    </ul>
  </nav>

  <div id="container">
    <aside id="customer_info">
      Welcome
    </aside>


    <main>

      <%= yield %>

    </main>

  </div>

  <footer>
    <h4>Contact Information</h4>
    <p>mmoreno6@miuandes.cl jmiturralde@miuandes.cl</p>
  </footer>
</html>
