<!DOCTYPE html>
<html>

  <head>
    <title>Event App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <a class="navbar-brand" href=<%= root_path %>>Events App</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <% if !current_user.system_admin? %>
              <li class="nav-item">
                <a class="nav-link" href=<%= user_profile_pages_path(current_user) %>>Profile</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= user_mail_boxes_path(current_user) %>>MailBox</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href=<%= user_events_path(current_user) %>>My Events</a>
                <a class="dropdown-item" href=<%= user_event_invitations_path(current_user) %>>Upcoming Events</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organizations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href=<%= user_organizations_path(current_user) %>>My Organizations</a>
                <a class="dropdown-item" href=<%= user_organization_invitations_path(current_user) %>>Member Organizations</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= user_notifications_path(current_user) %>>Notifications <span class="badge badge-dark"><%= current_user.notifications.count %></span></a>
            </li>
                <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href=<%= admin_organizations_path %>>Organizations</a>
                <a class="dropdown-item" href=<%= admin_events_path %>>Events</a>
                <a class="dropdown-item" href=<%= admin_users_path %>>Users</a>
              </div>
            </li>
                <% end %>

          </ul>
            <span class="navbar-text mr-3">
              Welcome, <%= current_user.username %>
            </span>

          <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
            <span class="d-inline ml-3">
            <%= link_to "Sign Out",  destroy_user_session_path, method: :delete, class: ["btn", "btn-danger"] %>
            </span>
          <% else %>
              <%= link_to "Register", new_user_registration_path, class: ["btn", "btn-primary", "mr-2"]  %>
              <%= link_to "Log In", new_user_session_path, class: ["btn", "btn-primary"] %>
          <% end %>
        </div>
      </nav>
    </header>

    <div class="jumbotron">
      <main class="container">
        <% if notice.present? %>
          <div class="row ml-0 mt-3" role="alert">
            <div id="notice" class="alert alert-success"><%= notice %></div>
          </div>
        <% end %>
        <% if alert.present? %>
          <% if alert.is_a? Enumerable %>
            <% alert.each do |a| %>
              <div class="row ml-0" role="alert">
                <div id="alert" class="alert alert-danger"><%= a %></div>
              </div>
            <% end %>
            <%else %>
            <div class="row ml-0 mt-3" role="alert">
              <div id="alert" class="alert alert-danger"><%= alert %></div>
            </div>
            <% end %>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Contact Information <br>eventsappgroup12@gmail.com</span>
      </div>
      <div class="container">
        <span class="text-muted"><%= link_to "Use Policy", "https://www.termsofusegenerator.net/live.php?token=VK2gSEciBFNTkKjKV51lktJtLjjKdbaH", target: :_blank %>
          &amp;
          <%= link_to "Terms of Service", "https://www.termsofservicegenerator.net/live.php?token=xkj6Tr57GXH1MvOZibVW1KnQWuVa7iEB", target: :_blank %></span>
      </div>
    </footer>
  </body>

</html>
